@use '../../../../libs/blender-ui/src/lib/styles/variables' as bui;

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: bui.$bui-bg-light;
  color: bui.$bui-text-color;
  border: 1px solid bui.$bui-border-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 0;

  &:hover {
    background-color: bui.$bui-panel-bg;
  }
}
